// base colours
$button-blue: #279AF1;
$red-eye: #DD1155;
$squash-blossom: #FBB13C;
$acapulco-cliffs: #4F9EA8;
$little-mermaid: #2C404A;
$dugong: #707070;
$pelican-bay: #9BAAB2;
$fortress-grey: #B7B7B7;

$button-blue-50: #e7eaec;
$button-blue-100: #c4cbcf;
$button-blue-200: #9ca9af;
$button-blue-300: #74878f;
$button-blue-400: #576d77;
$button-blue-500: #39535f;
$button-blue-600: #334c57;
$button-blue-700: #2c424d;
$button-blue-800: #243943;
$button-blue-900: #172932;
$button-blue-A100: #74cfff;
$button-blue-A200: #41bdff;
$button-blue-A400: #0eabff;
$button-blue-A700: #009ff4;

$hippie-blue-50: #e9f1f2;
$hippie-blue-100: #c8dcde;
$hippie-blue-200: #a4c4c8;
$hippie-blue-300: #80acb1;
$hippie-blue-400: #649ba1;
$hippie-blue-500: #498990;
$hippie-blue-600: #428188;
$hippie-blue-700: #39767d;
$hippie-blue-800: #316c73;
$hippie-blue-900: #215961;
$hippie-blue-A100: #a2f3ff;
$hippie-blue-A200: #6fecff;
$hippie-blue-A400: #3ce5ff;
$hippie-blue-A700: #23e2ff;

$white: #fff;

$primary: $button-blue-500;
$secondary: $hippie-blue-500;
$primary-text: $hippie-blue-500;


