$xxxs: 4px;
$xxs: 8px;
$xs: 12px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;
$xxxl: 92px;

$breakpoint-mobile: 360px;
$breakpoint-sd: 720px;
$breakpoint-hd: 1080px;
$breakpoint-qhd: 1440px;
