$font-xl: 36px;
$font-xl-height: 54px;

$font-lg: 36px;
$font-lg-height: 54px;

$font-lg: 30px;
$font-lg-height: 45px;

$font-md: 24px;
$font-md-height: 36px;

$font-sm: 20px;
$font-sm-height: 30px;

$font-xs: 16px;
$font-xs-height: 24px;
