@import "apps/researcher-client/styles/global";

.field {
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
  }

  label {
    margin-bottom: $xxs;
  }

  input {
    padding: 0 0 0 $xxs;
    height: 32px;
    border-radius: 4px;
    border: 1px solid $pelican-bay;

    &.active {
    }

    &:focus {
      background-color: rgba($acapulco-cliffs, 0.1);
      outline: none;
    }
  }

  .error {

  }
}
