$font-xxl: 1.875rem;
$font-xxl-height: $font-xxl*1.5;

$font-xl: 1.5rem;
$font-xl-height: $font-xl*1.5;

$font-lg: 1.25rem;
$font-lg-height: $font-lg*1.5;

$font-md: 1.125rem;
$font-md-height: $font-md*1.5;

$font-sm: 1rem;
$font-sm-height: $font-sm*1.5;

$font-xs: 0.875rem;
$font-xs-height: $font-xs*1.5;
