@import "apps/investigator/styles/global";

.page {
  display: flex;
  height: 100vh;

  section.login {
    flex: 1;
    align-self: center;
    background-color: white;

    .intro {
      width: 50%;
      max-width: $breakpoint-sd;
      margin: auto;

      .bolt {
        @include filterSvg($acapulco-cliffs);
      }

      .title {
        margin: $md 0;
      }

      .subtitle {
        margin: $md 0 $lg 0;
      }
    }

    .roles {
      width: fit-content;
      margin: auto;
    }

    .oauth {
      width: 50%;
      max-width: $breakpoint-sd;
      margin: $lg auto;

      button {
        margin: $xxxs auto;
      }
    }

    .divider {
      margin: $xl auto;
      width: 50%;
      max-width: $breakpoint-sd;
    }

    .credentials {
      width: 50%;
      max-width: $breakpoint-sd;
      margin: $lg auto;
      display: flex;
      flex-direction: column;

      .email {
        margin: 0 0 $xs 0;
      }

      .rememberMe {
        margin: $sm 0;
        display: flex;
        justify-content: space-between;
      }

      .noAccount {
        display: inline-flex;
        margin-top: $md;

        :nth-child(2) {
          margin-left: $xxxs;
        }
      }

      button {
        margin: $xxxs 0;
      }
    }
  }

  section.blurb {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($acapulco-cliffs, 0.3);

    .logo {
      margin: 32px;
      top: 0;
      right: 0;
      position: absolute;
    }
  }
}
