@import "apps/researcher-client/styles/global";

.chip {
  width: fit-content;
  transition: all 0.3s ease;
  border-radius: $xxs;
  background-color: rgba($acapulco-cliffs, 0.1);

  &.selected {
    background-color: rgba($acapulco-cliffs, 0.3);

    * {
      font-weight: bold;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($acapulco-cliffs, 0.3);
  }

  .label {
    * {
      padding: $xxxs $md;
      color: $acapulco-cliffs;
    }
  }
}
