.page {
  width: 100vw;
  height: 100vh;
  display: inline-flex;

  .nav {
    height: 100vh;
    width: fit-content;
  }

  .content {
    flex: 1;
    width: 100%;
    overflow: hidden;
    margin: 32px;
  }
}
