@import "apps/researcher-client/styles/global";

.card {
  height: fit-content;
  width: fit-content;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 0 $lg 0;
  border-radius: $xs;

  .content {
    padding: $md;
  }
}
