@import "apps/investigator/styles/global";

.text {
  font-family: 'Lato', 'sans-serif';
  font-size: $font-xs;
  line-height: $font-xs-height;
  color: $acapulco-cliffs;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
