@import "apps/investigator/styles/global";

.card {
  height: fit-content;
  width: available;
  background: white;
  border-radius: $xs;

  &.shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  }

  &.outline {
    border: 1px solid #d9d9d9;
  }

  .content {
    padding: $md;
  }
}
